<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of Book</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <table style="border: 1px solid black">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Author</th>
          <th>Year Written</th>
          <th>Edition</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% books.forEach(item => { %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.title %></td>
          <td><%= item.author %></td>
          <td><%= item.year_written %></td>
          <td><%= item.edition %></td>
          <td><%= item.price %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
