<h1>List of Books</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Year Written</th>
      <th>Edition</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% books.forEach(item => { %>
    <tr>
      <td><%= item.id %></td>
      <td><a href="/ejs/books/<%= item.id %>"><%= item.title %></a></td>
      <td><%= item.author %></td>
      <td><%= item.year_written %></td>
      <td><%= item.edition %></td>
      <td><%= item.price %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
